<h1>About Bloccit</h1>
<p>Created by: Pedro</p>

<!--

<a href="https://github.com/Terraflux"><button class="social-btn">Me on Github</button></a>

-->

	<%=link_to "Me on Github!", "https://github.com/Terraflux", class: "social-btn" %>