<div class="row">
	<div class="col-md-4">
		<p>Guidelines for posts</p>
		<ul>
			<li>Make sure all post titles are haikus.</li>
			<li>All lines must contain the letter o.</li>
			<li>Using too many dank memes will result in bans.</li>
		</ul>
	</div>
	<div class="col-md-8">
		<%= render partial: 'form', locals: {topic: @post.topic, post: @post} %>
	</div>
</div>

